* {
    margin: 0;
    padding: 0;
}
body{
 margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

nav{
   
    width: 1250px;
    height: 200px;
    margin: auto;
}

.navbarExtra{
    width: 1150px;
    height: 50px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.logoBurge{
    width: 50px;
    height: 50px;
    display: flex;
}
.logoB{
   margin: 10px;
   height: 20pxs;
}
.logoNav{
    height: 100px;
    width: 250px;
   
}
.mainLogo{
    width:200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;  
}
.category{
    width: 650px;
    height: 50px;
    margin: 20px;
    padding: 10px;
}

.category ul{
    display: flex;
    flex-direction: row;
    
    
}
.category ul li {
    list-style: none;
    text-transform: uppercase;
    color: black;
    margin: 5px;
}
a{
    text-decoration: none;
    color: black;
  }

  .socialNetwork{
      width: 90px;
      height: 40px;  
      display: flex;
    flex-direction: row;
    margin: 20px;
       
  }
  .inst{
      width:30px;
      margin: 0px;
      padding: 5px;
  }
  .face{
    width:30px;
    margin: 0px;
    padding: 5px;
    
  }
.slider{
    width: 95%;
    height: 400px;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 100em;
    animation: cambio 20s infinite alternate;
}
.slider li{
    width: 100em;
    list-style: none;
}
.slider img{
width: 750px;
padding: 25px;

}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left:  -100%;}
    45% {margin-left: -100%;}

    50% {margin-left:  -200%;}
    70% {margin-left: -200%;}

}
.recommend{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

}


 .recommend h2{
    font-size: 1.5em;
    text-align: center;
    margin: 3em 0 1.5em 0;
}
.recommend  .upperRow{
    border: solid black 1px;
    width: 80%;
    margin: 0 15px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recommend-item{
width: 100%;
border: solid black 1px;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
line-height: 18.4px;
outline-color: rgb(0, 0, 0);
outline-style: none;
outline-width: 0px;
}
.foto{
    width: 95%;
    display: inline-block;

}

.row{
    border: solid black 1px;
    width: 80%;
    margin: 0 10% 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-gap: 2em;
    transition: box-shadow .5s;

}
.im{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.continents{
    width: 100%;
    height: 100px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    background-color: #241D50;
    margin-bottom: 1.5em;
    

}
.conti{

    display: flex;
    justify-content: center;
    padding: 50px;
    color: blanchedalmond;
    
        
}
.conti a{
    color: blanchedalmond;
    
}

.staticEntry{
    margin: 2em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    
}
.staticEntry img{
    width: 100%;

}
.staticEntry h2{
    font-family: ptSerif-medium, serif;
    font-size: 2em;
    margin: 1em 0;
}
.staticEntry p{
    font-weight: 300;
    margin: 1em 0;
    font-size: 1.2em;
}    

button{
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 1em;
    border: 0;
    background-color: #241D50;
    color: #FFF;
    padding: 0.7em 3em;
}
button a{
    color: blanchedalmond;
    font-size: 25px;
}
